/* Carousel Styles */

.section-container {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  top: 87px;
  margin-bottom: 80px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.345); /* Change color and opacity as needed */
  z-index: 1;
}

.left-paragraph {
  position: absolute;
  top: 240px;
  left: 90px;
  transform: translateY(-50%);
  z-index: 2;
}

#carousel-heading {
  color: rgb(255, 255, 255);
  font-size: 4rem;
}
#carousel-description {
  width: 50%;
  height: fit-content;
  margin-bottom: 10px;
}

.explore-button {
  background-color: white;
  color: #000;
  font-weight: 600;
  width: 173px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
}

.explore-arrow {
  font-weight: 900;
  font-size: x-large;
  color: #000 !important;
}

.social-icons {
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-size: 1.5rem;
  position: absolute;
  top: 340px;
  color: #ff5733; /* Set color */
  transition: color 0.3s ease;
  z-index: 2;
}

.social-icon {
  color: white;
  background-color: transparent;
}

.gallery {
  width: 100%;
  position: relative;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  justify-content: center;
  top: 295px;
  left: 60%;
  transform: translateX(-50%);
  z-index: 3;
}

.gallery-item {
  height: 190px;
  opacity: 1;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 125px;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.52);
}

.gallery-item-1 {
  left: 27%;
  opacity: 2;
  transform: translateX(-50%);
  z-index: 1;
}

.gallery-item-2,
.gallery-item-4 {
  height: 238px;
  opacity: 2;
  width: 160px;
}

.gallery-item-2 {
  left: 37%;
  transform: translateX(-50%);
  z-index: 2;
}

.gallery-item-3 {
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  height: 262px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 193px;
  z-index: 3;
}

.gallery-item-4 {
  left: 63%;
  transform: translateX(-50%);
  z-index: 2;
}

.gallery-item-5 {
  left: 73%;
  opacity: 1;
  transform: translateX(-50%);
  z-index: 1;
}

.gallery-controls {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto;
  z-index: 10;
}

.gallery-controls-previous,
.gallery-controls-next {
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: relative;
  outline: none !important;
  border: 3px solid #ff5733;
  border-radius: 100%;
  display: flex;
}

.gallery-controls-previous {
  left: -165%;
  padding: 10px;
}

.gallery-controls-next {
  right: -165%;
  padding: 10px;
}

.gallery-controls-previous::before,
.gallery-controls-next::before {
  content: "";
  display: inline-block;
  border: solid #ff5733;
  border-width: 0 5px 5px 0;
  padding: 5px;
}

.gallery-controls-previous::before {
  transform: rotate(135deg);
}

.gallery-controls-next::before {
  transform: rotate(-45deg);
}

/* Indicator bars below the images */
.gallery-nav {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  list-style-type: none; /* Removes the bullets */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.gallery-nav li {
  width: 20px;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.303);
  margin: 0 5px;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.gallery-nav li.selected {
  background-color: white;
}

@media (min-width: 1000px) {
  /* Carousel Styles */

  .section-container {
    color: white;
    top: 96px;
    overflow: hidden;
    margin-bottom: 160px;
  }

  .left-paragraph {
    top: 40%;
    left: 90px;
  }

  #carousel-heading {
    margin: 0;
    padding: 0;
  }
  #carousel-description {
    width: 60%;
    height: fit-content;
  }

  .social-icons {
    font-size: 1.2rem;
    top: 380px;
  }
  .gallery {
    height: 100%;
  }
  .gallery-container {
    height: 100%;
    margin: 0 0;
    max-width: 100%;
    position: relative;
    top: 30%;
    left: 70%;
  }

  .gallery-item {
    height: 170px;
    width: 105px;
  }

  .gallery-item-1 {
    left: 27%;
  }

  .gallery-item-2,
  .gallery-item-4 {
    height: 208px;
    width: 140px;
  }

  .gallery-item-3 {
    height: 242px;
    width: 173px;
  }
}

@media (min-width: 1200px) {
  /* Carousel Styles */

  .social-icons {
    font-size: 1.5rem;
  }

  .gallery-item {
    height: 200px;
    width: 150px;
  }

  .gallery-item-1 {
    left: 35%;
  }
  .gallery-item-2 {
    left: 42%;
  }

  .gallery-item-2,
  .gallery-item-4 {
    height: 238px;
    width: 180px;
  }

  .gallery-item-3 {
    height: 272px;
    width: 213px;
  }
  .gallery-item-4 {
    left: 58%;
  }
  .gallery-item-5 {
    left: 65%;
  }
}

@media (min-width: 700px) {
  /* Carousel Styles */

  .section-container {
    top: 0px;
    margin-bottom: 80px;
  }

  .left-paragraph {
    top: 40%;
    left: 5%;
  }
  .social-icons {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }

  #carousel-description {
    width: 80%;
  }

  .gallery {
    width: 100%;
    position: relative;
    height: 100%;
  }

  .gallery-container {
    height: 100%;
    margin: 0 0;
    width: 100%;
    position: relative;
    top: 30%;
    left: 70%;
  }

  .gallery-item {
    height: 130px;
    width: 95px;
  }

  .gallery-item-1 {
    left: 27%;
  }

  .gallery-item-2,
  .gallery-item-4 {
    height: 158px;
    width: 130px;
  }

  .gallery-item-2 {
    left: 37%;
  }

  .gallery-item-3 {
    height: 192px;
    width: 153px;
  }

  .gallery-controls {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: auto;
    z-index: 10;
  }

  .gallery-controls-previous,
  .gallery-controls-next {
    border: 2px solid #ff5733;
  }

  .gallery-controls-previous {
    left: -165%;
  }

  .gallery-controls-next {
    right: -165%;
  }

  .gallery-controls-previous::before,
  .gallery-controls-next::before {
    border-width: 0 3px 3px 0;
    padding: 3px;
  }
}

@media (max-width: 700px) {
  .section-container {
    top: 0px;
  }
  .left-paragraph {
    top: 40%;
    left: 8%;
  }

  #carousel-description {
    width: 90%;
  }

  .explore-arrow {
    font-weight: 900;
    font-size: x-large;
    color: #000 !important;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    position: absolute;
    top: 110%;
    gap: 20px;
  }
  .gallery {
    display: none;
  }
}

@media (max-width: 400px) {
  .section-container {
    margin-bottom: 250px;
  }
}
@media (max-width: 300px) {
  .section-container {
    margin-bottom: 400px;
  }
}
@media (max-width: 250px) {
  .section-container {
    margin-bottom: 500px;
  }
}
